body {
    background-image: url("./images/photo-1453928582365-b6ad33cbcf64.jpeg");
}
.jumbotron {
    opacity: 85%;
    background-color: darkgray;
}
p {
    display: inline;
}
#self {
    display: inline;
    padding-right: 10px;
    float: left;
}
#mern {
    margin-left: 20px;
}